{{/*###
NoCompile=true
*/}}
{{ define "settingsSidebar" }}
<div class="four wide column">
	<div class="ui fluid vertical menu">
		{{ navbarItem .Path (.T "Profile") "/settings" }}

		{{ navbarItem .Path (.T "Userpage") "/settings/userpage" }}

		{{ navbarItem .Path (.T "Avatar") "/settings/avatar" }}

		{{ navbarItem .Path (.T "Profile Background") "/settings/profbackground" }}

		{{ navbarItem .Path (.T "Password") "/settings/password" }}

		{{ navbarItem .Path (.T "Clan Settings") "/settings/clansettings" }}
	</div>
</div>
{{ end }}
