{{/*###
Handler=/about
TitleBar=About
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui centered segments">
		<div class="ui segment">
			<img src="/static/logos/ainu.png">
			<h1 class="ui no bottom margin header">
				{{ .T "Welcome to The Realm!" }}
			</h1>
			<div class="about subtitle">{{ .T "The Realm is a private osu! server." }}<br>
			{{ .T "There are many like it, but this one is special." }}</div>
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "We have leaderboards." }}
			</h1>
			<img src="/static/about/a.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Online user listing." }}
			</h1>
			<img src="/static/about/onlineusers.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Free osu!direct." }}
			</h1>
			<img src="/static/about/osudirect.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui no bottom margin header">
				{{ .T "Global leaderboards." }}
			</h1>
			<p class="about subtitle">{{ .T "and PP for all game modes" }}</p>
			<img src="/static/about/b.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Ranking queue for unranked beatmaps." }}
			</h1>
			<img src="/static/about/c.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Relax." }}
			</h1>
			<img src="/static/about/relax.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Multiplayer." }}
			</h1>
			<img src="/static/about/multi.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Realm Watcher, The server bot." }}
			</h1>
			<p class="about subtitle">{{ .T "with plenty of functions for just about anything, check it out!" | html }}</p>
			<img src="/static/about/foka.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "And a lot more to come!" }}
			</h1>
			<p class="about title">
				{{ .T "The Realm is the result of the hard work of developers, who got tired about the whole osu! server" }}
			</p>
			<p class="about title twemoji">
				{{ .T "Thanks to developers who has helped me to make this great server, why don't you try <a href=\"/register\">Signing up</a> on The Realm, this won't result in getting your osu!bancho account getting restricted, so what are you waiting for?! Come join us! " | html }}
			</div>
	</div>
</div>
{{ end }}