{{ define "navbar" }}
{{ $isRAP   := and (hasAdmin .Context.User.Privileges) (isRAP .Path) }}
{{ $isAdmin := hasAdmin .Context.User.Privileges }}
{{ $isClan := qb "SELECT user, clan FROM user_clans WHERE user = ?" .Context.User.ID }}
{{ $ds      := band .ClientFlags 1 }}
<div class="ui secondary fixed-height stackable white background main menu no margin bottom{{ if .DisableHH }} dropped{{ end }}" id="navbar" style="
    z-index: 5;
    position: relative;
    background-size: 100%;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    background-image: url(https://osu.gatari.pw/static/images/icons/button.svg);
    background-color: #8f17a0 !important;">
	<div class="ui container">
		<a href="https://peppy.wtf" class="logo-all">
			<div class="logo-fill"></div> 
			<div class="logo"></div>
		</a>
		{{ if $isRAP }}
			{{/*
			Note:
				RAP navbar will be completely different from standard navbar,
				meaning it will have the buttons and all the stuff that are in
				the current RAP's sidebar.
			*/}}
		{{ else }}
		{{ $tourStart := qb "SELECT value_int FROM system_settings WHERE name = 'istournamentstarts'" }}
			{{ if not ($tourStart.value_int.Bool) }}
			<div class="ui dropdown item">
				<span>{{ .T "Leaderboard" }}</span>
				<div class="menu">
					{{ navbarItem .Path (.T "งานยังไม่เริ่ม") "" }}
				</div>
			</div>
			{{ else }}
			{{ navbarItem .Path (.T "Leaderboard") "/leaderboard" }}
			{{ end }}
			<div class="ui dropdown item">
				<span>{{ .T "แคลน" }}</span>
				<div class="menu">
					{{ navbarItem .Path (.T "กระดานแคลน") "/clans?mode=0" }}
					{{ if ($isClan) }}
					{{ navbarItem .Path (.T "ตั้งค่าแคลน") "/settings/clansettings" }}
					{{ else }}
					{{ end }}
                    {{ if .Context.User.Username }}
					<div class="divider"></div>
					{{ navbarItem .Path (.T "สร้างแคลน [ใครมีแล้วไม่ต้องสร้างใหม่]") "/clans/create" }}
					{{ end }}
				</div>
			</div>
			<div class="ui dropdown item">
				<span>โดเนทผมหน่อยสิ : )</span>
				<div class="menu">
					{{ navbarItem .Path (.T "ทัก Varkaria#7055 ใน Discord") "" }}
				</div>
			</div>
			{{ if $isAdmin }}{{ navbarItem .Path (.T "AAP" | printf "<b>%s</b>") "https://old.ainu.pw/index.php?p=100" }}{{ end }}
			{{ end }}
		<div class="firetrucking-right-menu">
			<div class="item">
				<div class="ui search" id="user-search">
					<div class="ui icon input">
						<input class="prompt" type="text" placeholder="{{ .T "Looking for someone?" }}" id="user-search-input">
						<i class="search link icon"></i>
					</div>
				</div>
			</div>
			{{ if .Context.User.Username }}
				<div class="ui dropdown item">
					<img id="avatar" class="ui avatar image" src="{{ config "AvatarURL" }}/{{ .Context.User.ID }}">
					<span>{{ .Context.User.Username }}</span>
					<div class="menu">
						{{ navbarItem .Path (.T "Profile") (printf "/u/%d" .Context.User.ID) }}
						{{ navbarItem .Path (.T "Friends") "/friends" }}
						{{ navbarItem .Path (.T "Settings") "/settings" }}
						{{ navbarItem .Path (.T "Log out") (printf "/logout?k=%s" (.Session.Get "logout")) }}
					</div>
				</div>
			{{ else }}
			<div class="ui dropdown item">
					<img id="avatar" class="nouserlogo" src="https://peppy.wtf/static/logos/avatar-guest.png">
					<div class="menu">
				       {{ navbarItem .Path (.T "Log in") "/login" }}
				       {{ navbarItem .Path (.T "Register") "/register" }}
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</div>
{{ end }}
