{{ define "tpl" }}
<div class="ui container">
	{{ if .UserID }}
		{{ $aoba := eq .UserID 1001 }}
		{{ $dog := eq .UserID 1003 }}
		{{ $doot := eq .UserID 1 }}
		{{ $gqm := atoi (.Gin.Query "mode") }}
		{{ $global := . }}
		{{ with (.Get "users/full?id=%d" .UserID) }}
			{{ $favouritemode := _or $gqm .favourite_mode }}
			<script>
				window.favouriteMode = {{ $favouritemode }};
				window.userID = {{ .id }};
			</script>
			{{ if after .silence_info.end }}
				<div class="ui error centered message">{{ $global.T "User is <b>silenced</b> for %s, expires %s." (.silence_info.reason | htmlescaper) (time .silence_info.end) | html }}</div>
			{{ end }}

			    	{{ $verified := has .badges 6 }}
			    	{{ $owner := (has .privileges 15728639) }}
				{{ $admin := (has .privileges 1048575) }}
				{{ $dev := (has .privileges 3141627) }}
				{{ $bat := (has .privileges 267) }}
				{{ $member := (has .privileges 3) }}
				{{ $cm := (has .privileges 786811)}}
				{{ $donor := has .privileges 7 }}
				{{ $chatmod  := has .privileges 2883911 }}
				
			<div class="ui stackable column grid"><div class="five wide column"><div class="ui top attached segment overflow auto" style="border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;"><div class="ui stackable centered grid"><div class="sixteen wide column">
			{{ if eq $global.UserID $global.Context.User.ID }}
							<a href="/settings/avatar">
						{{ end }}
								<img src="{{ config "AvatarURL" }}/{{ .id }}" alt="avatar" class="ui small centered image">
						{{ if eq $global.UserID $global.Context.User.ID }}
							</a>
						{{ end }}
			</div>
			{{ if hasAdmin $global.Context.User.Privileges }}
				{{ $restr := not (has .privileges 1) }}
				{{ $disab := not (has .privileges 2) }}
				{{ $pend  := has .privileges 1048576 }}
				{{ if and $disab $restr }}
						{{ if $pend }}
							<div class="ui warning message">{{ $global.T "<b>%s</b>" "User is Pending" | html }}</div>
						{{ else }}
							<div class="ui error message">{{ $global.T "<b>%s</b>" "User is Banned" | html }}</div>
						{{ end }}
					{{ else if $restr }}
						<div class="ui error message">{{ $global.T "<b>%s</b>" "User is Restricted" | html }}</div>
					{{ else if $disab }}
						<div class="ui error message">{{ $global.T "<b>%s</b>" "User is Locked" | html }}</div>
				{{ end }}
			{{ end }}
			{{ $user := . }}
			<div class="center aligned sixteen wide column"><h1 class="ui header"><div class="bgf">
				{{ $isVerified := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1011" $user.id }}
				{{ $isVerifiedCTB := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1010" $user.id }}
				{{ $isVerifiedMania := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1009" $user.id }}
				{{ $isVerifiedTaiko := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1008" $user.id }}
				{{ $isAlumni := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1007" $user.id }}
				{{ $donorbadge := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1002" $user.id }}
				{{ if $donorbadge }}	
				<b><script>

/*
RAINBOW TEXT Script by Matt Hedgecoe (c) 2002
Featured on JavaScript Kit
For this script, visit http://www.javascriptkit.com
*/

// ********** MAKE YOUR CHANGES HERE

var text='{{ .username }}' // YOUR TEXT
var speed=80 // SPEED OF FADE

// ********** LEAVE THE NEXT BIT ALONE!


if (document.all||document.getElementById){
document.write('<span id="highlight">' + text + '</span>')
var storetext=document.getElementById? document.getElementById("highlight") : document.all.highlight
}
else
document.write(text)
var hex=new Array("00","14","28","3C","50","64","78","8C","A0","B4","C8","DC","F0")
var r=1
var g=1
var b=1
var seq=1
function changetext(){
rainbow="#"+hex[r]+hex[g]+hex[b]
storetext.style.color=rainbow
}
function change(){
if (seq==6){
b--
if (b==0)
seq=1
}
if (seq==5){
r++
if (r==12)
seq=6
}
if (seq==4){
g--
if (g==0)
seq=5
}
if (seq==3){
b++
if (b==12)
seq=4
}
if (seq==2){
r--
if (r==0)
seq=3
}
if (seq==1){
g++
if (g==12)
seq=2
}
changetext()
}
function starteffect(){
if (document.all||document.getElementById)
flash=setInterval("change()",speed)
}
starteffect()
</script></b>

				{{ else }}
					{{if $owner}}
					<a href="/c/{{ $user.clan.id }}?mode=0">{{ $user.clan.tag }} </a><font class="owner">{{ .username }} </font>
					{{else}}
					<a href="/c/{{ $user.clan.id }}?mode=0">{{ $user.clan.tag }} </a>{{ .username }}
					{{end}}
				{{ end }}
				{{ if $isVerified }}
				{{ end }}
				{{ if $isVerifiedCTB }}
				{{ end }}	
				{{ if $isVerifiedMania }}
				{{ end }}
				{{ if $isVerifiedTaiko }}
				{{ end }}
				</div></h1><b title="{{(country .country true)}}">{{ $global.T "%s" (country .country false) | html }}</b>
			{{if $owner }}
			<font class="owner"><b>Owner</b></font>
			
			{{else if $dev}}
			<font color="#2185d0"><b>Developer</b></font>
			
			{{else if $admin}}
			<font color="#db2828"><b>Administrator</b></font>

			{{else if $cm }}
			<font color="#800080"><b>Community Manager</b></font>

     		        {{else if $chatmod}}
			<font color="#2185d0"><b>Moderator</b></font>
			
			{{else if $bat}}
			<font color="#f2711c"><b>Nominator</b></font>

			{{else if $isAlumni }}
			<font color="#888888"><b>Alumni</b></font>

			{{else if $donor }}
			<font color="#e03997"><b>Supporter</b></font>

			{{else if $member }}
			<font color="#FFC0CB"><b>Member</b></font>
			{{ end }}
			{{ if .username_aka }}
			<div class="subtitle">
			{{ $global.T "(A.K.A. <b>%s</b>)" (.username_aka | htmlescaper) | html }}
			</div>
			{{ end }}	
		</div><div id="profile-actions">
			{{ if and (ne $global.Context.User.ID $global.UserID) (ne $global.Context.User.ID 0) }}
			<button class="ui circular button" id="add-friend-button"></button>
			
			{{ end }}
					{{ if eq $global.Context.User.ID $global.UserID }}
			<a href="/settings" class="text-center ui circular mini teal icon button"><i class="edit icon"></i></a>
			{{ end }}
					{{ if hasAdmin $global.Context.User.Privileges }}
			
			<a href="https://old.theosurealm.tk/index.php?p=103&id={{ $global.UserID }}"
		target="_blank" title="Quick edit user" class="ui circular mini red icon button"><i class="folder open outline icon"></i></a><a href="https:///old.theosurealm.tk/index.php?p=104&id={{ $global.UserID }}"
			   target="_blank" title="Quick edit username" class="ui circular mini red icon button"><i class="address book outline icon"></i></a>
			{{ end }}
			{{ $isRank1std := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1012" $user.id }}
			{{if $isRank1std}}
				<br><br><center><font color="#d4af37"><b>osu!STD Champion! </b></font></center>
			{{end}}
			{{ $isRank1ctb := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1013" $user.id }}
			{{if $isRank1ctb}}
				<br><br><center><font color="#d4af37"><b>osu!CTB Champion! </b></font></center>
			{{end}}
			{{ $isRank1taiko := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1014" $user.id }}
			{{if $isRank1taiko}}
				<br><br><center><font color="#d4af37"><b>osu!Taiko Champion! </b></font></center>
			{{end}}	
			{{ $isRank1mania := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1015" $user.id }}
			{{if $isRank1mania}}
				<br><br><center><font color="#d4af37"><b>osu!Mania Champion!  </b></font></center>
			{{end}}
			{{ $isDoot := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1019" $user.id }}
			{{if $isDoot}}
				<br><br><center><td class="right aligned"><a href="https://www.youtube.com/watch?v=WTWyosdkx44 }}">{{ "doot" }}</a></td></center>
			{{end}}		
		</div><div class="center aligned sixteen wide column">
			{{ range $k, $v := (slice .std .taiko .ctb .mania) }}
			<h1 data-mode="{{ $k }}"{{ if ne $k (int $favouritemode) }} hidden{{ end }}>{{ with and $v $v.global_leaderboard_rank }}#{{ . }}{{ else }}{{ $global.T "" }}{{ end }}</h1>
			{{ end }}
		</div></div></div>
{{ $Owner := qb "SELECT * FROM user_badges WHERE user = ? AND badge = 1006" $user.id }}
<div class="ui segment"><div class="ui sixteen stackable grid"><div class="sixteen wide column">
{{if $Owner}}
They have been a part of the server since the beginning
{{else}}
{{ $global.T "Registered: %s" (time $user.registered_on) | html }}
{{end}}
<br>{{ $global.T "Last Seen: %s" (time $user.latest_activity) | html }}
<br>{{ with playstyle .play_style $global }}{{ $global.T "They play with: %s." . }}{{ end }}
<br><div class="sixteen wide column">
	{{ range $k, $v := (slice .std .taiko .ctb .mania) }}
<div data-mode="{{ $k }}" {{ if ne $k (int $favouritemode) }} hidden{{ end }}><table class="ui very basic two column compact table nopad"><tbody><tr>
			{{ $isClan := qb "SELECT user, clan FROM user_clans WHERE user = ?" $user.id }}
			{{if $isClan}}
				<td><b>{{ $global.T "Clan" }}</b></td><td class="right aligned"><a href="/c/{{ $user.clan.id }}?mode={{ $k }}">{{ $user.clan.name }}</a></td>
			{{end}}

		</tr><tr><td><b>{{ $global.T "PP" }}</b></td><td class="right aligned">{{ humanize .pp }}</td></tr><tr><td><b>{{ $global.T "Ranked score" }}</b></td><td class="right aligned">{{ humanize .ranked_score }}
		</tr><tr><td><b>{{ $global.T "Total score" }}</b></td><td class="right aligned">{{ humanize .total_score }}</td></tr><tr><td><b>{{ $global.T "Playcount" }}</b></td><td class="right aligned">{{ humanize .playcount }}</td></tr><tr><td><b>{{ $global.T "Total Replays watched" }}</b></td><td class="right aligned">{{ humanize .replays_watched }}</td></tr><tr><td><b>{{ $global.T "Total hits" }}</b></td><td class="right aligned">{{ humanize .total_hits }}</td></tr><tr><td><b>{{ $global.T "Accuracy" }}</b></td><td class="right aligned">{{ printf "%.2f" .accuracy }}%</td></tr></tbody></table><div class="ui blue progress little margin top" data-percent="{{ levelPercent .level }}"><div class="bar"><div class="progress">{{ levelPercent .level }}%</div></div><div class="label">{{ $global.T "Level %s" (level .level) }}</div></div></div>
{{ end }}
</div></div></div></div></div><div class="eleven wide column">
{{ with $global.Get "users/userpage?id=%.0f" .id }}
	{{ if .userpage }}
		{{ with parseUserpage .userpage }}
			<div class="ui raised segment twemoji" id="userpage-content">
				{{ html . }}
			</div>
		{{ end }}
	{{ end }}
{{ end }}	
<div class="ui two item top center centered attached menu overflow auto"><a class="0 item" data-rx="0" href="/u/{{ $user.id }}">Regular</a><a class="1 item" data-rx="1" href="/rx/u/{{ $user.id }}">Relax</a></div><div class="ui four item bottom attached menu" id="mode-menu">
	{{ range $k, $v := modes }}
	<a class="{{ favMode $favouritemode $k }}item" data-mode="{{ $k }}" href="/u/{{ $user.id }}?mode={{ $k }}">{{ $v }}</a>
	{{ end }}
</div><div class="ui one item top center centered menu"><div class="ui stackable four grid"><div class="sixteen wide column"><div class="ui segment">
	{{ if and (not .badges) (not .custom_badge) }}
		{{ $global.T "This user hasn't got any badges!" }}
	{{ else }}
		<div class="ui grid">
			{{ range .badges }}
				<div class="eight wide centered column"><i class="circular {{ faIcon .icon }} big icon"></i><br><b>{{ .name }}</b></div>
			{{ end }}
			{{ with .custom_badge }}
				<div class="eight wide centered column"><i class="circular {{ faIcon .icon }} big icon"></i><br><b><i>{{ .name }}</i></b></div>
			{{ end }}
		</div>
	{{ end }}
<div class="ui tab active" id="scores-zone" data-tab="scores-zone">
	{{ range _range 4 }}
		<div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0"></div>
	{{ end }}
</div><div class="ui tab" id="top-scores-zone" data-tab="top-scores-zone">
	{{ range _range 4 }}
		<div data-mode="{{ . }}" {{ if ne . (int $favouritemode) }} hidden{{ end }} data-loaded="0"></div>
	{{ end }}
</div><div class="ui modal"><i class="close icon"></i><div class="content"><table class="ui definition table" id="score-data-table"></table></div></div>
		{{ end }}
	{{ end }}
</div>
{{ end }}