{{/*###
Handler=/team
TitleBar=Team
Include=user_group.html
KyutGrill=team2.jpg
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui segments">
		<div class="ui center aligned segment">
			<h3>{{ .T "This is a list of the wonderful people who keep The Realm up and running and deal with its community." }}</h3>
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Owners" }}</h1>
			<p>
				{{ .T "These are the users who represent the community and keep this place running!" }}<br>
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1006) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Developers" }}</h1>
			<p>
				{{ .T "Developers add new features to the server, squash bugs, keep the server up and running and take care of its maintenance." }}<br>
				{{ .T "They don't do anything related to the community. Developers have a blue name in the in-game chat." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 2) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Admins" }}</h1>
			<p>
				{{ .T "All Powerful users" | html }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1017) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "BATs" }}</h1>
			<p>
				{{ .T "BATs play beatmaps in the ranking queue and decide whether they are good enough to be ranked or not." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 5) }}
		</div>
		<div class="ui center aligned segment">
			<h1 class="ui heading">{{ .T "Alumni" }}</h1>
			<p>
				{{ .T "A special thanks to the ex staff who made a great contribution to the server." }}
			</p>
			{{ template "userGroup" (.Get "badges/members?id=%d" 1007) }}
		</div>

	</div>
{{ end }}
